header{
    width:100%;
    text-align:center;
    font-family:cursive;
    background-color: blueviolet;
    height:200%;
    padding:15px;
    background-image: url("./header\ cafe.jpeg");
    background-size: cover;
    color:burlywood;

}
*{
    padding:0%;
    margin:0%;
}
nav{
    width: 500px;
    height: 600px;
    text-align: center;
    padding-top :100px;
    background-color: aquamarine;
    background-image: url("./download2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
nav ul{
    padding-top: 100px;
}
section{
    display:flex;
    width:100%;
    height:100%;
}
article{
    font-family:cursive;
    width:100%;
    text-align:center;
    color:white;
}

aside {
    background-position: center;
    width: 30%;
    float: left;
  }
 .items{
    display:inline-block;
    margin:auto;
    width:300px;
    height:300px;
    text-align: center;
    color:black;
    padding:20px;
    background-image: url("./viji.jpeg");
    background-size: cover;
 }
 dl dt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
 }
 .snacks{
    display:grid;
    width:300px;
    height:200px;
    float:left;
    text-align: center;
    background-color:pink;
    color:black;
    background-image: url("./snacks.jpeg");
 }
 .logo{
    float:center;
    padding:5px 10px;
 }
 footer{
    text-align: center;
    background-color: white;
    background-size: cover;
    color:black;
 }
